<nav [class.py-4]="isNavbarSmall" id="navbar" class="navbar navbar-expand-lg  position-fixed top-0  end-0 start-0 "  >
   
    <div class="container-fluid">
        <a class="navbar-brand ms-md-5 ps-md-5 text-white fs-1 fw-bold" routerLink="home">START FRAMEWORK </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav  ms-auto pe-md-5 justify-content-end">
                <li class="nav-item me-md-5">
                    <a class="nav-link text-white me-md-5 fw-bolder fs-5" aria-current="page" routerLink="about" routerLinkActive="but-class rounded-2">About</a>
                </li>
                <li class="nav-item me-md-5">
                    <a class="nav-link text-white me-md-5 fw-bolder fs-5" routerLinkActive="but-class rounded-2" routerLink="protfolio">protfolio</a>
                </li>
                <li class="nav-item me-md-5">
                    <a class="nav-link text-white me-md-5 fw-bolder fs-5" routerLinkActive="but-class rounded-2" routerLink="contact">contact</a>
                </li>

            </ul>

        </div>
    </div>
</nav>




